<h1>Books#show</h1>

<%= @book.title %><br>
<a href="#"><img src="<%= @book.image_url %>"></a><br>

<%= link_to "一覧に戻る", books_path %>

<%= link_to "レビューを書く", "#{@book.id}/reviews/new" %>

<% @book.reviews.each do |review| %>
	<%= review.editor %>
	<%= review.review %>
<% end %>
