<h1>ブックレビュー</h1>

<%= form_for ([@book, @review]) do |f| %>
  <%= f.text_field :editor %>
  <%= f.text_area :review %>
  <%= f.number_field :rank, max: 10, min:1 %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.submit %>
<% end %>