<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>


<!-- body始まり -->
  <body>

  <!-- header始まり -->
  <!-- pattial: header -->
  <%= render partial: "layouts/header" %>
  <!-- header終わり -->

  <!-- ランキング始まり -->
  <div id="ranking" >
    <h2>ランキング</h2>
    <% if user_signed_in? %>
    <% @rankings.each.with_index(1) do |ranking,i| %>
      <%= i %>
    
      <img src="<%= ranking.image_url %>" width="200px" >
    <% end %>
    <% end %>
  </div>
  <!-- ランキング終わり -->
  
  <!-- wrapper始まり -->
    <div id="wrapper">
      <div id="content" class="clearfix">
        <div id="main">
          <%= yield %>
        </div>
      
  <!-- sidebar始まり -->
      <% if user_signed_in? %>
        <%= render partial: "layouts/sidebar" %>
      <% end %>
  <!-- sidebar終わり -->

        </div>
        <!-- content終わり -->
    </div>
  <!-- wrapper終わり -->

  <!-- fooer始まり -->
    <footer id="footer">
      <%= render partial: "layouts/footer" %>
    </footer>

  <!-- footer終わり -->
   
  </body>
</html>
