<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<!-- body始まり -->
  <body>

  <!-- header始まり -->
  <!-- pattial: header -->

  <%= render partial: "layouts/header" %>
  <!-- header終わり -->

  <!-- wrapper始まり -->
    <div id="wrapper">
      <div id="content" class="clearfix">
        <div id="main">
          <%= yield %>
        </div>
      

  <!-- sidebar始まり -->
        <div id="sidebar">
          <!-- 検索窓 -->
          <%= form_tag('search', method: :get) do %>
             <input class="search__query" name="keyword" placeholder="タイトルで検索" type="text" value="">
             <button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>
          <% end %>
          <!-- 検索窓終了 -->

        </div>
  <!-- sidebar終わり -->
      </div>
  
    </div>
  <!-- wrapper終わり -->

  <!-- fooer始まり -->
    <footer id="footer">
      <%= render partial: "layouts/footer" %>
    </footer>

  <!-- footer終わり -->
   
  </body>
</html>
